body{
display: flex;
flex-direction: column;
font-family: sans-serif;
}

.head,
.footer,
.main {
    background-color: #1F2937;
}

.head {
    display: flex;
    justify-content: space-between;
}

.head .logo {
    font-size: 24px;
    color: #F9FAF8;
}
ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.info img {
    width: 100px;
    height: 100px;
    border: 2px solid #3882F6;
    border-radius: 10px;
}

.info-cards {
    display: flex;
}

.call-to-action {
display: flex;
justify-content: space-between;
}

.quote {
    background-color: #E5E7EB;
}

.call-to-action .container {
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}