body{
display: flex;
flex-direction: column;
}

.head {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-cards {
    display: flex;
}

.call-to-action {
display: flex;
justify-content: space-between;
}