body {
display: flex;
flex-direction: column;
font-family: sans-serif;
}

.head {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    flex-wrap: wrap;
    padding: 24px 64px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.main-content .text{
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style-type: none;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.main {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    padding: 64px;
    gap: 32px;
    flex-wrap: wrap-reverse;
}

.main .header {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.main .img {
    width: 400px;
    height: 200px;
    background-color: #969696;
}

.main-content {
    flex: 1;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info img {
    width: 100px;
    height: 100px;
    border: 2px solid #3882F6;
    border-radius: 10px;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.info-text {
    max-width: 100px;
    color: #1F2937;
}

.info-cards {
    display: flex;
    flex-wrap: wrap;
}

.info {
    margin: 24px;
}

.call-to-action {
display: flex;
justify-content: space-between;
}

.quote {
    background-color: #E5E7EB;
}

.call-to-action .container {
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}